
@media (min-width: 992px) {
    .top-buffer {
        margin-top: 20px;
    }
}

@media (max-width: 992px) {
    .top-buffer {
        margin-top: 15px;
    }

.errorText {
       color: red;
    }
}

.customText {
    color: #000066;
    font-size: 15px;
}

.msgInfoText {
    color: #A94EB1;           
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

